/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Page Numbers */


	.page-numbers {
		color: $color__text-main;
		padding-right: $base__space-unit;
	}

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__text-secondary;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	padding-top: $base__space-unit * 2;
	padding-bottom: $base__space-unit;

	@include tablet {
		padding-top: 0px;
		padding-bottom: 0px;

	}

	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		ul {
			top: $base__space-unit;

			li {
				&:hover > ul,
				&.focus > ul {
					// left: 100%;
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			// left: auto;
		}
	}

	li {

		a {
		color: $color__text-secondary;

			&:hover {
				color: $color__link-hover;
			}
		}

		&:nth-child(1) {
			padding-right: $base__space-unit;
		}

		&:nth-child(2) {
			padding-left: $base__space-unit;
			padding-right: $base__space-unit;
			border-left: 1px solid white;
			border-right: 1px solid white;

			@include tablet { 
				padding-right: $base__space-unit;
			}
		}


		&:nth-child(3) {
			padding-left: $base__space-unit;
		
			@include tablet { 
				padding-right: $base__space-unit;
				border-right: 1px solid white;
			}
		}
	}
	

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		text-decoration: none;

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

}
