/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Pages */

body {
  padding: $base__space-unit;
}

/* Header */

.header-logo-box {
  margin-top: $base__space-unit;
}

/* Footer */
.site-footer {
  .menu {
  display: flex;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
  }
}

.site-info {
    a {
    &:hover {
      color: $color__text-main;
    }
  }
}

.site-creator {
  color: $color__text-secondary;
}
/* Home.php Page */

.another-button {
  border: 1px solid $color__text-secondary;
  box-shadow: none;
  background: none;
  text-shadow: none;
  color: $color__text-secondary;
  font-size: 1rem;
  padding-top: $base__space-unit / 2;
  padding-bottom: $base__space-unit / 2;
  padding-right: $base__space-unit;
  padding-left: $base__space-unit;
  margin-bottom: $base__space-unit;

  &:hover {
    color: $color__link-hover;
    border: 1px solid $color__link-hover;
    background: none;
    box-shadow: none;
  }

}

/* Archive Loop Page */
.loop-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  p {
    font-size: $font__size-base;
    color: $color__text-secondary;
    padding-right: $base__space-unit / 2;
    margin: 0px;
    
    &:hover {
      color: $color__link-hover;
    }
  }

  a {
    font-size: $font__size-base;
    color: $color__text-secondary;
    padding-right: $base__space-unit / 2;

    &:hover {
      color: $color__link-hover;
    }
  }
}


/* All Archives Page */

.page-title {
  border-bottom: $border_dashed;
  padding-bottom: $base__space-unit;
}

.line {
  border-bottom: $border_dashed;
}

/* Submit a Quote Page */

.submit-form {
  input {
  border: 1px solid $color__text-secondary;
  box-shadow: none;
  background: none;
  text-shadow: none;
  color: $color__text-secondary;
  font-size: 1rem;
  padding-top: $base__space-unit / 2;
  padding-bottom: $base__space-unit / 2;
  padding-right: $base__space-unit;
  padding-left: $base__space-unit;
  margin-bottom: $base__space-unit;

  &:hover {
    color: $color__link-hover;
    border: 1px solid $color__link-hover;
    background: none;
    box-shadow: none;
  }
}

  textarea {
    background-color: $color__background-body;
    border: 1px solid $color__text-secondary;
    color: $color__text-secondary;
    padding-top: $base__space-unit / 2;
    padding-bottom: $base__space-unit / 2;
    padding-right: $base__space-unit;
    padding-left: $base__space-unit;
    margin-bottom: $base__space-unit;
  }
}

#login-here {
  color: $color__text-secondary;
  &:hover {
    color: $color__link-hover;
  }
}

/* Search Bar */

.search-fieldset {
  border: none;
  padding: 0px;

  input {
    border: 1px solid $color__text-secondary;
    box-shadow: none;
    background: none;
    text-shadow: none;
    color: $color__text-secondary;
    font-size: 1rem;
    padding-top: $base__space-unit / 2;
    padding-bottom: $base__space-unit / 2;
    padding-right: $base__space-unit;
    padding-left: $base__space-unit;
    margin-bottom: $base__space-unit;
  
    &:hover {
      color: $color__link-hover;
      border: 1px solid $color__link-hover;
      background: none;
      box-shadow: none;
    }
  }
}

.search-submit {
  border: none;
  box-shadow: none;
  background: none;
  text-shadow: none;
  color: $color__text-secondary;
  font-size: 1.2rem;
  padding-top: $base__space-unit / 2;
  padding-bottom: $base__space-unit / 2;
  padding-right: $base__space-unit;
  padding-left: $base__space-unit;
  margin-bottom: $base__space-unit;

  &:hover {
    color: $color__link-hover;
    border: none;
    background: none;
    box-shadow: none;
  }
}

/* Search Page */

.entry-title-search {
  a {
  color: $color__text-secondary;
  }
}
